<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusinessWallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4995C5D11C91A68800D45899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4995C5E71C91A68800D45899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4995C5F21C91A68800D45899</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
